:root{
    --ld-color-gray-light: #B8B7b7;
    --ld-color-gray: #767684;
    --ld-color-gray-dark: #09090A;
    --ld-color-gray-lighter: #F9FBFB;

    --ld-color-blue: #0041BE;
    
    --ld-color-danger: #FF2222;
}