.ld-input {
  font-size: calc(var(--font-size-base) + 8px);
  font-family: var(--font-family-base);
  border: none;
  background: none;
  border-bottom: 1px solid var(--ld-color-gray-light);
  outline: none;
  transition: border-color 0.5s;
  padding-bottom: 10px;
  width: 100%;
}

.ld-input:focus {
  border-color: var(--ld-color-primary);
}

.ld-input::placeholder {
  color: var(--ld-color-gray-dark);
}
