.ld-create > .ld-wrapper > .main-content > .left > .main-title {
  font-size: calc(var(--ld-font-size-base) + 32px);
  font-weight: 800;
  max-width: 405px;
  margin-bottom: 45px;
}

.ld-create > .ld-wrapper > .main-content > .left > .ld-button {
  margin-top: 40px;
}

.ld-create > .ld-wrapper > .main-content > .left {
  max-width: 400px;
  margin: auto;
}
